body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 30vh;
    width: 50vw;
    background-color: red;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}


